* {
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

.x-icon {
  font-size: 2rem;
  color: rgb(247, 247, 247);
  padding: 1rem;
  position: absolute;
  right: 30px;
  top: 30px;
}

/* .x-icon {
  font-size: 50%;
  width: 12px;
  height: 12px;
  left: 25%;
  right: 25%;
} */

#mob-menu {
  display: none;
}

.menu-popup {
  background: rgba(53, 72, 241, 0.705);
  top: 0;
  right: 0;
  height: 100vh;
  backdrop-filter: blur(7px);
  width: 100%;
  position: fixed;
}

.menu-popup-links {
  display: flex;
  flex-direction: column;
  padding: 120px 96px 554px 24px;
  font-weight: 600;
  font-size: 32px;
  line-height: 64px;
}

.menu-popup div a {
  text-decoration: none;
  color: #fff;
}

.container-bg-color,
#about-myself {
  background: #fff;
}

.profile {
  /* bg */
  border-bottom-left-radius: 80px;
  width: 100vw;
  background-repeat: no-repeat;
}

.basic-intro {
  /* profile positioning */

  padding: 206px 24px 136px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pg-headings {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

/* Colors */
.white-txtcolor {
  color: #fff;
}

.main-heading {
  color: #172b4d;
  animation-duration: 4s;
  animation-name: heading-color;
}

@keyframes heading-color {
  from {
    color: #fff;
  }

  to {
    color: #172b4d;
  }
}

/* -----end of animation change----- */

#footer-hreading {
  align-self: center;
}

.intropara {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

#logo {
  width: 76px;
  height: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 24px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #6070ff;
  transition: 1s 0.2s ease;
}

#logo:hover {
  color: rgba(29, 48, 214, 0.5);
  font-size: 25px;
}

.beforeicon-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-media-icons {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

ul.no-bullets {
  list-style-type: none;
}

#projets {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 88px;
  padding: 114px 24px;
}

.project {
  background-color: white;
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.workcard-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.proj-title {
  width: 295px;
  height: 36px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.proj-about {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.proj-type,
.proj-year {
  height: 16px;
  color: #7a869a;
}

.proj-name {
  width: 55px;
  height: 16px;
  color: #344563;
}

.proj-type::before,
.proj-year::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 12px;
  display: inline-block;
  background-color: #c1c7d0;
}

.proj-primarytxt {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.proj-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 53px;
  height: 24px;
}

.proj-list li {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.see-proj {
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

#footerbtn {
  color: #6070ff;
  border: 1px solid #cfd8dc;
}

.button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  height: 48px;
  width: fit-content;
  color: #396df2;
  background-color: white;
  border: 1px solid #4c5ace;
  border-radius: 8px;
  margin: 12px 0;
  padding: 12px;
  cursor: pointer;
}

/* footerbtn functions */

#footerbtn:hover {
  color: #fff;
  background-color: #6070ff;
  border: 1px solid #cfd8dc;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

#footerbtn:active {
  color: #fff;
  background-color: #2230d2;
  border: 1px solid #cfd8dc;
}

#footerbtn:disabled {
  color: #5e6c84;
  background-color: #fff;
  border: 1px solid #cfd8dc;
}

/* end of footerbtn funcions */

/* button functions */

.button:hover {
  color: #fff;
  background-color: #6070ff;
  border: 1px solid #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.button:active {
  color: #fff;
  background-color: #2230d2;
  border: 1px solid #2230d2;
}

.button:disabled {
  color: #5e6c84;
  background-color: #fff;
  border: 1px solid #c1c7d0;
}

/* end of button funcions */

#about-myself {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 114px 24px;
  gap: 12px;
  border-top-right-radius: 80px;
}

#myself-1stchild {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.csLanguages {
  display: flex;
  padding: 12px;
  gap: 12px;
  color: #000;
}

.csLanguages li {
  font: inherit;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  color: #253858;
}

.CS-list-items {
  display: flex;
  align-items: center;
  gap: 16px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 9px 12px;
}

.arrowhead {
  border: solid #406d98;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.down-direction {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.right-direction {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.CSlist-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 24px 12px;
}

hr.horizontal-line {
  border-top: 1px solid #dfe1e6;
}

.footer-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.footer-bg {
  box-sizing: border-box;
  width: 100%;
  background: #6070ff;
  background-repeat: no-repeat;
  background-position: right;
  border-top-left-radius: 80px;
  padding: 103px 24px 8px 24px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-field {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding: 0;
}

#username,
#user-email,
#form-msg {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 38px 15px 16px;
  color: #172b4d;
}

#footer-hr {
  border: 5px solid #0d151e;
  width: 0.1px;
  padding: 32px 120px 8px 120px;
  border-width: 0 0 2px 0;
  align-self: center;
}

.reverse-img:hover,
img:hover {
  transform: scale(1.05);
}

/* Desktop stuff */

.menu {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  text-align: center;
  visibility: hidden;
  margin-right: 154px;
}

#portfolio-link,
#about-link,
#contact-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

@media only screen and (max-width: 768px) {
  /* For Mobile phone */
  .menu {
    display: none;
  }

  #navbar-menu {
    margin-left: auto;
    position: relative;
    top: 13px;
    padding-right: 36px;
    cursor: pointer;
  }

  .intropara {
    width: 65%;

    /* width: 327px;
    height: 146px; */
  }

  .profile {
    /* bg */
    background-image: url(./images/mobileheaderbg.svg);
    background-size: cover;
  }

  .footer-bg {
    box-sizing: border-box;
    background-image: url(./images/mobilecontact-pg-bg.svg);
  }

  #username {
    margin-top: 87px;
  }

  .csLanguages {
    flex-direction: column;
  }

  .CS-list-items {
    flex-direction: row;
  }
}

@media not screen and (max-width: 767px) {
  /* For Desktop */
  #navbar-menu,
  #footer-hr {
    /* visibility: hidden; */
    display: none;
  }

  .menu {
    visibility: visible;
  }

  .header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
  }

  .basic-intro {
    padding: 114px 260px 325px 260px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .profile {
    /* bg */
    background-image: url(./images/D-header-bg.svg);
  }

  .project {
    display: grid;
    grid-template-columns: calc(50% - 23px) calc(50% - 23px);
    grid-template-areas: "img txt";
    gap: 46px;
    margin: 10px 42px;
  }

  .img {
    grid-area: img;
    width: 100%;
  }

  .txt {
    grid-area: txt;
  }

  .reverse-img {
    grid-area: txt;
    width: 100%;
  }

  .reverse-txt {
    grid-area: img;
  }

  #card2,
  #card4 {
    /* grid-area: txt; */
    order: -1;
  }

  #about-myself {
    display: grid;
    grid-template-columns: calc(40% - 23px) calc(50% - 23px);
    grid-template-areas: "about list";
    gap: 46px;
    padding-left: 60px;
  }

  .aboutinfo {
    grid-area: about;
  }

  .tech-list {
    grid-area: list;
    width: 100%;
  }

  .footer-bg {
    background-image: url(./images/D-contact-bg.svg);
  }

  .footer-info {
    width: 50%;
    padding: 142px 25% 127px 25%;
  }

  #username {
    margin-top: 12px;
  }

  #footerbtn {
    align-self: center;
  }

  .csLanguages {
    flex-direction: row;
  }

  .CS-list-items {
    flex-direction: column;
  }
}

/* Detail popup section bg */

.project-popupbg {
  background: rgba(53, 72, 241, 0.4);
}


